<article class="profile">

  <div class="profile--header">
    <div class="container container--narrow">
      Header
    </div>
  </div>

  <div class="container container--narrow profile--content">
    <main class="main-content">Main</main>
    <aside class="sidebar">Aside</aside>
  </div>

</article>