<!DOCTYPE html>
<html>
  <head>
    <title>Ds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class="branding">
        DS APP
      </div>
      <ul class="navigation navigation--left">
        <li class="navigation__element"><a href="#" class="navigation__link">Matchningar</a></li>
        <li class="navigation__element"><a href="#" class="navigation__link">About</a></li>
        <li class="navigation__element"><a href="#" class="navigation__link">Products</a></li>
      </ul>

      <ul class="navigation navigation--right">
        <li class="navigation__element"><a href="#" class="navigation__link">Ikon</a></li>
        <li class="navigation__element"><a href="#" class="navigation__link">Ikon2</a></li>
        <li class="navigation__element"><a href="#" class="navigation__link">Ikon 3</a></li>
      </ul>
    </header>
      <%= yield %>
  </body>
</html>
